{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Details of Post
{% endblock %}


{% block content %}

<div class="container">
    <h2>{{ object.title }}</h2>
    <h4>{{ object.subtitle }}</h4>
    <p>{{ object.body }}</p>
    <br>
    <hr>
    <span><strong>Created on:{{ object.created_on }}</strong></span>
    <br>
    <span><strong></strong>Author: {{ object.author }}</strong></span>
    <span><strong></strong>Status: {{ object.status }}</strong></span>
    <br>
</div>
    <div style="display: flex; flex-direction: column;">
    {% if user.is_authenticated and user == object.author %}
        <a href="{% url 'post_edit' object.pk %}" class="btn btn-secondary" style="">Edit</a>
        <a href="{% url 'post_delete' object.pk %}" class="btn btn-danger" style="">Delete</a>
        


    
    <span class="post-status">
        {% if object.status.name == 'Draft' %}
            <span class="badge bg-secondary">{{ object.status.name }}</span>
        {% elif object.status.name == 'Published' %}
            <span class="badge bg-success">{{ object.status.name }}</span>
        {% else %}
            <span class="badge bg-info">{{ object.status.name }}</span>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
        