{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Details of Post
{% endblock %}


{% block content %}

<div class="container">
    <h2>{{ object.title }}</h2>
    <h4>{{ object.subtitle }}</h4>
    <p>{{ object.body }}</p>
    <p>Created on: {{ object.created_on }}</p>
    <p>Author: {{ object.author }}</p>

    {% if user.is_authenticated and user == object.author %}
        <a href="{% url 'post_update' object.pk %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'post_delete' object.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}

{% endblock %}
        