{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>
        p {
            background-color: rgb(179, 235, 96);
            color: rgb(0, 0, 0);
        }
        h1 {
            color: blue;
        }
        <script>
            console.log("Hello from the home page!");
        </script>
    </style>
{% endblock %}


{% block content %}

    <div>
        <h1>Welcome to my blog!</h1>
        <img src="https://picsum.photos/600/300" alt="Home Image" class="img-fluid mb-4" >
        <img src="{% static 'images/home_image.jpg' %}" alt="Static Home Image" class="img-fluid mb-4" >
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, blanditiis repudiandae ducimus voluptate illo nihil voluptatum assumenda dignissimos minima dolorem sint nemo, quo accusamus. Tempora corrupti debitis esse distinctio sit.</p>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

