body {
    background-color: #9aff8d;
}

.custom-p {
   background-color: aqua;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 20px;
    justify-content: space-between;
}

.header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.footer {
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
    color: #555;
}

